<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <h1 class="my-0 mx-auto p-10 bg-blue-700 flex justify-center text-white">
        Here are our registered Homes
        <ul class="list-disc ml-10 flex justify-center flex-col">
            <% registeredhomes.forEach((home)=>{%>
                <li class="text-white">
                    <%= home.houseName%>
                    <%= home.price%>
                    <%= home.location%>
                    <%= home.description%>
                </li>
            <% }) %>
        </ul>
    </h1>
</body>

</html>